In [4]:
# Feature Engineering -----> This is a process in which we will set our data in an appropriate
# format so that we can send it to model training .

# Normal Distribution -----> In this distribution, points are equal(Left side and right side)
# from the centroid.

# Mean centroid mean = 0
# Standard deviation = 1

# Standard deviation -----> mean , Std 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\placement.csv")

In [3]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [6]:
x=df.drop(columns=['placed']) # Input data
# x

In [8]:
y=df['placed'] # Target Data
# y

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
print("Total Data Shape :",df.shape)
print("Input data shape(x) :",x.shape)
print("Input data shape(x_train) :",x_train.shape)
print("Input data shape(x_test) :",x_test.shape)

print("Target data shape(y) :",y.shape)
print("Target data shape(y_train) :",y_train.shape)
print("Target data shape(y_test) :",y_test.shape)

Total Data Shape : (100, 3)
Input data shape(x) : (100, 2)
Input data shape(x_train) : (80, 2)
Input data shape(x_test) : (20, 2)
Target data shape(y) : (100,)
Target data shape(y_train) : (80,)
Target data shape(y_test) : (20,)

In [12]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
sc=StandardScaler()

In [15]:
x_train_sc = sc.fit_transform(x_train) # fit means learn the parameter and transform means apply on the data

In [16]:
x_train_new=pd.DataFrame(x_train_sc, columns=x_train.columns)

In [17]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05