In [4]:
# Feature Engineering -----> This is a process in which we will set our data in an appropriate
# format so that we can send it to model training .

# Normal Distribution -----> In this distribution, points are equal(Left side and right side)
# from the centroid.

# Mean centroid mean = 0
# Standard deviation = 1

# Standard deviation -----> mean , Std 1

In [18]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\placement.csv")

In [3]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [6]:
x=df.drop(columns=['placed']) # Input data
# x

In [8]:
y=df['placed'] # Target Data
# y

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
print("Total Data Shape :",df.shape)
print("Input data shape(x) :",x.shape)
print("Input data shape(x_train) :",x_train.shape)
print("Input data shape(x_test) :",x_test.shape)

print("Target data shape(y) :",y.shape)
print("Target data shape(y_train) :",y_train.shape)
print("Target data shape(y_test) :",y_test.shape)

Total Data Shape : (100, 3)
Input data shape(x) : (100, 2)
Input data shape(x_train) : (80, 2)
Input data shape(x_test) : (20, 2)
Target data shape(y) : (100,)
Target data shape(y_train) : (80,)
Target data shape(y_test) : (20,)

In [12]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
sc=StandardScaler()

In [15]:
x_train_sc = sc.fit_transform(x_train) # fit means learn the parameter and transform means apply on the data

In [16]:
x_train_new=pd.DataFrame(x_train_sc, columns=x_train.columns)

In [17]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

# Assignment

In [19]:
df1=pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\tips.csv")

In [21]:
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [26]:
a=df1.drop(columns=['sex','smoker','day','time'])
# a

In [27]:
x1=a.drop(columns=['size']) # Input data
# x1

In [29]:
y1=a['size']
# y1

In [30]:
from sklearn.model_selection import train_test_split

In [35]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1,y1,test_size=0.2,random_state=42)

In [36]:
print("Total Data Shape :",a.shape)
print("Input data shape(x1) :",x1.shape)
print("Input data shape(x1_train) :",x1_train.shape)
print("Input data shape(x1_test) :",x1_test.shape)

print("Target data shape(y1) :",y1.shape)
print("Target data shape(y1_train) :",y1_train.shape)
print("Target data shape(y1_test) :",y1_test.shape)

Total Data Shape : (244, 3)
Input data shape(x1) : (244, 2)
Input data shape(x1_train) : (195, 2)
Input data shape(x1_test) : (49, 2)
Target data shape(y1) : (244,)
Target data shape(y1_train) : (195,)
Target data shape(y1_test) : (49,)

In [37]:
np.round(x1_train.describe(),2)

       total_bill     tip
count      195.00  195.00
mean        20.22    3.09
std          8.77    1.43
min          5.75    1.00
25%         13.66    2.00
50%         17.92    3.00
75%         24.86    3.70
max         50.81   10.00

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
sc1=StandardScaler()

In [40]:
x1_train_sc1 = sc1.fit_transform(x1_train)

In [41]:
x1_train_new=pd.DataFrame(x1_train_sc1, columns=x1_train.columns)

In [42]:
np.round(x1_train_new.describe(),2)

       total_bill     tip
count      195.00  195.00
mean         0.00   -0.00
std          1.00    1.00
min         -1.65   -1.46
25%         -0.75   -0.76
50%         -0.26   -0.06
75%          0.53    0.43
max          3.50    4.85

In [43]:
# assignment completed

# Day 2

In [1]:
# Normalization => min_value=0 , max_value=1

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
si=SimpleImputer()

In [9]:
df['fever'] = si.fit_transform(df[['fever']])

In [10]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [11]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [12]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [13]:
df['gender'] = df['gender'].map({'Male':0, 'Female':1})
df['cough'] = df['cough'].map({'Mild':0, 'Strong':1})
df['city'] = df['city'].map({'Kolkata':0, 'Bangalore':1, 'Delhi':2, 'Mumbai':3})
df['has_covid'] = df['has_covid'].map({'Yes':0, 'No':1})

In [14]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          1
1   27       0  100.0      0     2          0
2   42       0  101.0      0     2          1
3   31       1   98.0      0     0          1
4   65       1  101.0      0     3          1

In [15]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                   test_size=0.2,random_state=42)

In [25]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.59  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
mn=MinMaxScaler()

In [22]:
x_train_mn =mn.fit_transform(x_train)

In [23]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [24]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.59   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    1.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [26]:
# Now apply these method on the tips.csv

In [27]:
df=pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\tips.csv")

In [28]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [29]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [31]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [32]:
df['sex'] = df['sex'].map({'Male':0, 'Female':1})
df['time'] = df['time'].map({'Dinner':0, 'Lunch':1})
df['day'] = df['day'].map({'Sat':0, 'Sun':1, 'Thur':2, 'Fri':3})
df['smoker'] = df['smoker'].map({'Yes':0, 'No':1})

In [33]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    1       1    1     0     2
1       10.34  1.66    0       1    1     0     3
2       21.01  3.50    0       1    1     0     3
3       23.68  3.31    0       1    1     0     2
4       24.59  3.61    1       1    1     0     4

In [45]:
x = df.drop(columns = ['total_bill'])
y = df['total_bill']

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                   test_size=0.2,random_state=42)

In [48]:
np.round(x_train.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     3.09    0.35    0.62    1.06    0.27    2.57
std      1.43    0.48    0.49    0.97    0.45    0.94
min      1.00    0.00    0.00    0.00    0.00    1.00
25%      2.00    0.00    0.00    0.00    0.00    2.00
50%      3.00    0.00    1.00    1.00    0.00    2.00
75%      3.70    1.00    1.00    2.00    1.00    3.00
max     10.00    1.00    1.00    3.00    1.00    6.00

In [49]:
from sklearn.preprocessing import MinMaxScaler

In [50]:
mn=MinMaxScaler()

In [51]:
x_train_mn =mn.fit_transform(x_train)

In [52]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [53]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.35    0.62    0.35    0.27    0.31
std      0.16    0.48    0.49    0.32    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.00    0.00    0.20
50%      0.22    0.00    1.00    0.33    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00

In [1]:
# Encoding => transform our categorical data into numerical data.

# because our machine can only understand math not the single character

In [2]:
# 1. LabelEncoding

# apply on single column => column(sub1,sub2,.....,subn) => Own(0,1,2,)

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\covid_toy.csv")

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer

In [10]:
si=SimpleImputer()

In [11]:
df['fever'] = si.fit_transform(df[['fever']])

In [12]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [13]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lb = LabelEncoder()

In [16]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [17]:
df.head(4)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0

In [19]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,random_state=42)

In [24]:
x_train.head()

    age  gender  fever  cough  city
55   81       0  101.0      0     3
88    5       0  100.0      0     2
26   19       0  100.0      0     2
42   27       1  100.0      0     1
69   73       0  103.0      0     1

In [26]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
mn = MinMaxScaler()

In [30]:
x_train_mn = mn.fit_transform(x_train)

In [31]:
x_train_new = pd.DataFrame(x_train_mn,columns=x_train.columns)

In [33]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.43
std     0.31    0.50   0.32   0.49   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [34]:
# Tips dataset =>
# check missing data if possible then handle missing data
# labelencoding on categorical data
# train_test_split
# x_train data => apply => standardization

In [35]:
df=pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\tips.csv")

In [36]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [37]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
lb=LabelEncoder()

In [40]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [41]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [42]:
x=df.drop(columns=['total_bill'])
y=df['total_bill']

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,random_state=42)

In [45]:
x_train.head()

      tip  sex  smoker  day  time  size
228  2.72    1       0    1     0     2
208  2.03    1       1    1     0     2
96   4.00    1       1    0     0     2
167  4.50    1       0    2     0     4
84   2.03    1       0    3     1     2

In [46]:
np.round(x_train.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     3.09    0.65    0.38    1.71    0.27    2.57
std      1.43    0.48    0.49    0.93    0.45    0.94
min      1.00    0.00    0.00    0.00    0.00    1.00
25%      2.00    0.00    0.00    1.00    0.00    2.00
50%      3.00    1.00    0.00    2.00    0.00    2.00
75%      3.70    1.00    1.00    2.00    1.00    3.00
max     10.00    1.00    1.00    3.00    1.00    6.00

In [48]:
from sklearn.preprocessing import StandardScaler

In [49]:
sc=StandardScaler()

In [50]:
x_train_sc=sc.fit_transform(x_train)

In [51]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [52]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean    -0.00   -0.00    0.00    0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.46   -1.37   -0.79   -1.84   -0.61   -1.68
25%     -0.76   -1.37   -0.79   -0.76   -0.61   -0.61
50%     -0.06    0.73   -0.79    0.31   -0.61   -0.61
75%      0.43    0.73    1.26    0.31    1.64    0.45
max      4.85    0.73    1.26    1.39    1.64    3.65

In [54]:
# Assignment

# Dataset => columns(numerical , categorical) => function (datadirectory import)
# Logic create => Separate(categorical columns , numerical columns)