# Pandas

Pandas is an open - source library that is used for handle data manipulations.

for installing pandas in jupyter or colab -> !pip install pandas

for installing in vs code -> pip install pandas

Data Structure in pandas:
1. Series -> It is one-dimensional array and it shows only values not column name.
2. Dataframe -> It is multi-dimensional array and it shows values with column name.

# 1. Series

In [1]:
import pandas as pd

In [7]:
a=pd.Series([1,34,67,90])
print(a)

0     1
1    34
2    67
3    90
dtype: int64

In [9]:
print(type(a))

<class 'pandas.core.series.Series'>

# 2. DataFrame

Ques.1 -> We have to create employee data using dictionary?

In [11]:
a={
    "Emp_ID":[1,2,3,4,5,6,7,8],
    "Emp_Name":['Sam','Raj','Mohit','Sam','Gaurav','Mohit','Mohit','Garvit'],
    "Department":['IT','Sales','IT','Operations','HR','IT','Operations','HR'],
    "Working_hours":[8,9,9,9,9,8,8,8],
    "Salary":[23000,25000,35000,31000,28000,26000,30000,34000]
}

In [13]:
print(type(a))

<class 'dict'>

In [14]:
df=pd.DataFrame(a)
print(df)

   Emp_ID Emp_Name  Department  Working_hours  Salary
0       1      Sam          IT              8   23000
1       2      Raj       Sales              9   25000
2       3    Mohit          IT              9   35000
3       4      Sam  Operations              9   31000
4       5   Gaurav          HR              9   28000
5       6    Mohit          IT              8   26000
6       7    Mohit  Operations              8   30000
7       8   Garvit          HR              8   34000

How do you export our dataframe into CSV file?

In [16]:
df.to_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\emp_info.csv",index=False)

How do you import our dataframe into jupyter notebook?

1. Open a folder in which you have datasets. -->
2. copy the folder location
3. Paste it into jupyter notebook
4. df=pd.read_csv("Paste_folder_location\\file_name.csv")

Method 1

In [17]:
df=pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\emp_info.csv")

In [18]:
print(df)

   Emp_ID Emp_Name  Department  Working_hours  Salary
0       1      Sam          IT              8   23000
1       2      Raj       Sales              9   25000
2       3    Mohit          IT              9   35000
3       4      Sam  Operations              9   31000
4       5   Gaurav          HR              9   28000
5       6    Mohit          IT              8   26000
6       7    Mohit  Operations              8   30000
7       8   Garvit          HR              8   34000

Method 2

1. Go to home page of jupyter
2. click on upload
3. click on open --> upload
4. pd.read_csv("file_name.csv")

In [5]:
df=pd.read_csv("Test//emp_info.csv")

In [22]:
print(df)

   Emp_ID Emp_Name  Department  Working_hours  Salary
0       1      Sam          IT              8   23000
1       2      Raj       Sales              9   25000
2       3    Mohit          IT              9   35000
3       4      Sam  Operations              9   31000
4       5   Gaurav          HR              9   28000
5       6    Mohit          IT              8   26000
6       7    Mohit  Operations              8   30000
7       8   Garvit          HR              8   34000

# Task
Create Student Table Data Frame with min 5 columns and 10 rows then export it in local system then import it on google colab and run it.

In [2]:
student_data = {
    "ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Name": ["Aman", "Priya", "Raj", "Simran", "Vikram", "Neha", "Rohit", "Ananya", "Kunal", "Isha"],
    "Roll No": [2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110],
    "Stream": ["Science", "Commerce", "Arts", "Science", "Commerce", "Arts", "Science", "Commerce", "Arts", "Science"],
    "Semester": [2, 4, 6, 3, 5, 1, 4, 2, 6, 3]
}

In [9]:
a=pd.DataFrame(student_data)
print(a)

    ID    Name  Roll No    Stream  Semester
0  101    Aman     2101   Science         2
1  102   Priya     2102  Commerce         4
2  103     Raj     2103      Arts         6
3  104  Simran     2104   Science         3
4  105  Vikram     2105  Commerce         5
5  106    Neha     2106      Arts         1
6  107   Rohit     2107   Science         4
7  108  Ananya     2108  Commerce         2
8  109   Kunal     2109      Arts         6
9  110    Isha     2110   Science         3

In [10]:
a.to_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\student_info.csv",index=False)

In [11]:
a=pd.read_csv("Test//student_info.csv")
print(a)

    ID    Name  Roll No    Stream  Semester
0  101    Aman     2101   Science         2
1  102   Priya     2102  Commerce         4
2  103     Raj     2103      Arts         6
3  104  Simran     2104   Science         3
4  105  Vikram     2105  Commerce         5
5  106    Neha     2106      Arts         1
6  107   Rohit     2107   Science         4
7  108  Ananya     2108  Commerce         2
8  109   Kunal     2109      Arts         6
9  110    Isha     2110   Science         3