# Pandas

Pandas is an open - source library that is used for handle data manipulations.

for installing pandas in jupyter or colab -> !pip install pandas

for installing in vs code -> pip install pandas

Data Structure in pandas:
1. Series -> It is one-dimensional array and it shows only values not column name.
2. Dataframe -> It is multi-dimensional array and it shows values with column name.

# 1. Series

In [1]:
import pandas as pd

In [7]:
a=pd.Series([1,34,67,90])
print(a)

0     1
1    34
2    67
3    90
dtype: int64

In [9]:
print(type(a))

<class 'pandas.core.series.Series'>

# 2. DataFrame

Ques.1 -> We have to create employee data using dictionary?

In [11]:
a={
    "Emp_ID":[1,2,3,4,5,6,7,8],
    "Emp_Name":['Sam','Raj','Mohit','Sam','Gaurav','Mohit','Mohit','Garvit'],
    "Department":['IT','Sales','IT','Operations','HR','IT','Operations','HR'],
    "Working_hours":[8,9,9,9,9,8,8,8],
    "Salary":[23000,25000,35000,31000,28000,26000,30000,34000]
}

In [13]:
print(type(a))

<class 'dict'>

In [14]:
df=pd.DataFrame(a)
print(df)

   Emp_ID Emp_Name  Department  Working_hours  Salary
0       1      Sam          IT              8   23000
1       2      Raj       Sales              9   25000
2       3    Mohit          IT              9   35000
3       4      Sam  Operations              9   31000
4       5   Gaurav          HR              9   28000
5       6    Mohit          IT              8   26000
6       7    Mohit  Operations              8   30000
7       8   Garvit          HR              8   34000

How do you export our dataframe into CSV file?

In [16]:
df.to_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\emp_info.csv",index=False)

How do you import our dataframe into jupyter notebook?

1. Open a folder in which you have datasets. -->
2. copy the folder location
3. Paste it into jupyter notebook
4. df=pd.read_csv("Paste_folder_location\\file_name.csv")

Method 1

In [17]:
df=pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\emp_info.csv")

In [18]:
print(df)

   Emp_ID Emp_Name  Department  Working_hours  Salary
0       1      Sam          IT              8   23000
1       2      Raj       Sales              9   25000
2       3    Mohit          IT              9   35000
3       4      Sam  Operations              9   31000
4       5   Gaurav          HR              9   28000
5       6    Mohit          IT              8   26000
6       7    Mohit  Operations              8   30000
7       8   Garvit          HR              8   34000

Method 2

1. Go to home page of jupyter
2. click on upload
3. click on open --> upload
4. pd.read_csv("file_name.csv")

In [5]:
df=pd.read_csv("Test//emp_info.csv")

In [22]:
print(df)

   Emp_ID Emp_Name  Department  Working_hours  Salary
0       1      Sam          IT              8   23000
1       2      Raj       Sales              9   25000
2       3    Mohit          IT              9   35000
3       4      Sam  Operations              9   31000
4       5   Gaurav          HR              9   28000
5       6    Mohit          IT              8   26000
6       7    Mohit  Operations              8   30000
7       8   Garvit          HR              8   34000

# Task
Create Student Table Data Frame with min 5 columns and 10 rows then export it in local system then import it on google colab and run it.

In [2]:
student_data = {
    "ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Name": ["Aman", "Priya", "Raj", "Simran", "Vikram", "Neha", "Rohit", "Ananya", "Kunal", "Isha"],
    "Roll No": [2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110],
    "Stream": ["Science", "Commerce", "Arts", "Science", "Commerce", "Arts", "Science", "Commerce", "Arts", "Science"],
    "Semester": [2, 4, 6, 3, 5, 1, 4, 2, 6, 3]
}

In [9]:
a=pd.DataFrame(student_data)
print(a)

    ID    Name  Roll No    Stream  Semester
0  101    Aman     2101   Science         2
1  102   Priya     2102  Commerce         4
2  103     Raj     2103      Arts         6
3  104  Simran     2104   Science         3
4  105  Vikram     2105  Commerce         5
5  106    Neha     2106      Arts         1
6  107   Rohit     2107   Science         4
7  108  Ananya     2108  Commerce         2
8  109   Kunal     2109      Arts         6
9  110    Isha     2110   Science         3

In [10]:
a.to_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\student_info.csv",index=False)

In [11]:
a=pd.read_csv("Test//student_info.csv")
print(a)

    ID    Name  Roll No    Stream  Semester
0  101    Aman     2101   Science         2
1  102   Priya     2102  Commerce         4
2  103     Raj     2103      Arts         6
3  104  Simran     2104   Science         3
4  105  Vikram     2105  Commerce         5
5  106    Neha     2106      Arts         1
6  107   Rohit     2107   Science         4
7  108  Ananya     2108  Commerce         2
8  109   Kunal     2109      Arts         6
9  110    Isha     2110   Science         3

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("Test//covid_toy.csv")
print(df)

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [6]:
df.shape # return num of rows and columns

(100, 6)

In [7]:
df.size # return num of rows*columns

600

In [8]:
df.columns # It will return all the column name

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

If you want to find top data from dataframe then you can use head().

In [9]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [10]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

If you want to find last data from dataframe the you can use tail().

In [11]:
df.tail()

    age  gender  fever   cough       city has_covid
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [12]:
df.tail(3)

    age  gender  fever   cough       city has_covid
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

If you want to find randomly indexed data then use sample().

In [13]:
df.sample()

    age gender  fever cough     city has_covid
66   51   Male  104.0  Mild  Kolkata        No

In [14]:
df.sample(3)

    age  gender  fever   cough     city has_covid
68   54  Female  104.0  Strong  Kolkata        No
15   70    Male  103.0  Strong  Kolkata       Yes
40   49  Female  102.0    Mild    Delhi        No

For specific elements

In [15]:
# loc method [row_range , column_name]

df.loc[3:5,["age","has_covid"]]

   age has_covid
3   31        No
4   65        No
5   84       Yes

In [16]:
# iloc method [row_range, column_range]

df.iloc[3:6,[0,1,3]]

   age  gender cough
3   31  Female  Mild
4   65  Female  Mild
5   84  Female  Mild

# Dataframe is mutuable

In [17]:
df.head(4)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No

In [18]:
df["has_covid"][2]

'No'

In [19]:
df["has_covid"][2]='Yes'

C:\Users\Anmol Hemani\AppData\Local\Temp\ipykernel_5524\3874639869.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["has_covid"][2]='Yes'
C:\Users\Anmol Hemani\AppData\Local\Temp\ipykernel_5524\3874639869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["has_covid"][2]='Yes'

In [21]:
df.head() # changes the column has_covid 2 row from no to yes

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi       Yes
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

Specific row,column --> loc,iloc

Specific column --> data --> df['column_name'][indexing]

In [22]:
df['gender'][2:5]

2      Male
3    Female
4    Female
Name: gender, dtype: object

If you wanr to check overall information then use info().

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

If you want to check statiscally view of data then you can use describe().

In [24]:
df.describe()

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

If you want to check how many elements are available in a particular column.

In [25]:
df.head(4)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi       Yes
3   31  Female   98.0  Mild  Kolkata        No

In [26]:
df['has_covid'].value_counts()

has_covid
No     54
Yes    46
Name: count, dtype: int64

In [27]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [28]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

Data --> 

1. Numerical --> Continuous data --> DOB(23 years 5 months 6 days), Salary(13567.45) etc
2. Categorical --> Discrete data --> Total_number_of_students_in_a_class, marital status etc.

# Task 
Taken a data from flipkart and perform a functions on it.

In [2]:
import pandas as pd

In [3]:
a=pd.read_csv("Test//flipkart.csv")
a

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,J+igdf 2,J+igdf 3,J+igdf 4,J+igdf 5,J+igdf 6,Nx9bqj,yiggsN
0,https://www.flipkart.com/hero-splendor-i3s-boo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Splendor+ (i3S) Booking for Ex-Showroom P...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,301 Ratings",&,529 Reviews,Maximum Power: 5.9 kW @ 8000 rpm,Displacement: 97.2 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Analogue speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹78,791",Only 5 left
1,https://www.flipkart.com/hero-passion-drum-boo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Passion+ (Drum) Booking for Ex-Showroom P...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","3,671 Ratings",&,394 Reviews,"Maximum Power: 5.9 kW @ 8,000 rpm",Displacement: 97.2 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Digi-Analog Meter,Hero MotoCorp warrants all its motorcycles for...,"₹80,266","Buy ₹5000 more, save extra ₹1750"
2,https://www.flipkart.com/hero-hf-deluxe-non-i3...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero HF Deluxe (Non i3S with Self Start) Booki...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,818 Ratings",&,603 Reviews,Maximum Power: 7.91,Displacement: 97.22 cc,Brake Front: Drum,Tire Type: Tubed,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹63,900",Lowest price in the year
3,https://www.flipkart.com/hero-destini-prime-bo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero DESTINI PRIME Booking for Ex-Showroom Price,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,729 Ratings",&,273 Reviews,Displacement: 124.6 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Digi Analog Speedometer,NaN,NaN,"₹76,077",Only few left
4,https://www.flipkart.com/hero-hf-deluxe-non-i3...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero HF Deluxe (Non i3S with Kick Start) Booki...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,818 Ratings",&,603 Reviews,Maximum Power: 7.91,Displacement: 97.22 cc,Brake Front: Drum,Tire Type: Tubed,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹60,643","Buy ₹5000 more, save extra ₹1500"
5,https://www.flipkart.com/hero-glamour-drum-boo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Glamour (Drum) Booking for Ex-Showroom Price,4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,129 Ratings",&,138 Reviews,Maximum Power: 7.75 KW (at 7500 rpm),Displacement: 125 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Fully Digital Console,Hero MotoCorp warrants all its motorcycles for...,"₹82,848","Buy ₹5000 more, save extra ₹1000"
6,https://www.flipkart.com/hero-pleasure-lx-book...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Pleasure+ (LX) Booking for Ex-Showroom Price,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,699 Ratings",&,238 Reviews,Displacement: 110.9 cc,Brake Front: Drum,Tire Type: Tubeless,Under Seat Storage: 14 L,Console Feature: Analog Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹73,833","Buy ₹5000 more, save extra ₹1000"
7,https://www.flipkart.com/tvs-sport-els-booking...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,TVS Sport (ELS) Booking for Ex-Showroom Price,4.1,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",32 Ratings,&,5 Reviews,"Maximum Power: 8.18 bhp @ 7,350 rpm",Displacement: 109.7 cc,Brake Front: Drum,Tire Type: Tubed,Console Feature: Analogue,During 5 Years from the date of purchase or du...,"₹67,507","Buy ₹10000 more, save extra ₹1250"
8,https://www.flipkart.com/hero-pleasure-vx-book...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Pleasure+ (VX) Booking for Ex-Showroom Price,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,699 Ratings",&,238 Reviews,Displacement: 110.9 cc,Brake Front: Drum,Tire Type: Tubeless,Under Seat Storage: 14 L,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹77,383","Buy ₹5000 more, save extra ₹1500"
9,https://www.flipkart.com/hero-super-splendor-d...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Super Splendor (Disc) Booking for Ex-Show...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",560 Ratings,&,49 Reviews,Maximum Power: 10.7,Displacement: 124.7 cc,Brake Front: Disc,Tire Type: Tubeless,Console Feature: Digital Analog Meter,Hero MotoCorp warrants all its motorcycles for...,"₹85,698","Buy ₹5000 more, save extra ₹1500"
10,https://www.flipkart.com/ather-rizta-z-3-7-kwh...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Ather Rizta Z 3.7 kWh Battery Booking for Ex-S...,4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",265 Ratings,&,26 Reviews,Range 159 km,Maximum Speed 80 km/h,Charging Time5.45 Hrs,Tire TypeTubeless,"Battery: 3 Years/ 30000 Km, Vehicle: 3 Years/ ...",NaN,"₹1,42,947","Buy ₹10000 more, save extra ₹3000"
11,https://www.flipkart.com/hero-pleasure-xtec-co...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Pleasure+ (XTEC Connected) Booking for Ex...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,699 Ratings",&,238 Reviews,Displacement: 110.9 cc,Brake Front: Drum,Tire Type: Tubeless,Under Seat Storage: 14 L,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹85,383","Buy ₹5000 more, save extra ₹1500"
12,https://www.flipkart.com/hero-xtreme-125r-abs-...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero XTREME 125R (ABS) Booking for Ex-Showroom...,4.6,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","4,510 Ratings",&,448 Reviews,Maximum Power: 8.5 kW @ 8250 rpm,Displacement: 124.7 cc,Brake Front: Disc,Tire Type: Tubeless,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹1,03,635","Buy ₹5000 more, save extra ₹2500"
13,https://www.flipkart.com/tvs-radeon-base-editi...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,TVS Radeon (Base Edition) Booking for Ex-Showr...,4.6,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",29 Ratings,&,1 Reviews,Maximum Power: 8.18 bhp (at 7350 RPM),Displacement: 109.7 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Speedometer: Analogue Odomete...,During 5 Years from the date of purchase or du...,"₹69,419","Buy ₹10000 more, save extra ₹1000"
14,https://www.flipkart.com/tvs-sport-es-booking-...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,TVS Sport (ES) Booking for Ex-Showroom Price,4.1,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",32 Ratings,&,5 Reviews,"Maximum Power: 8.18 bhp @ 7,350 rpm",Displacement: 109.7 cc,Brake Front: Drum,Tire Type: Tubed,Console Feature: Analogue,During 5 Years from the date of purchase or du...,"₹60,873","Buy ₹10000 more, save extra ₹1250"
15,https://www.flipkart.com/hero-xoom-combat-book...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero XOOM COMBAT EDITION Booking for Ex-Showro...,NaN,NaN,NaN,NaN,NaN,Displacement: 110.9 cc,Brake Front: Drum,Tire Type: Tubeless,Under Seat Storage: 19 L,Console Feature: BLUETOOTH CONNECTIVITY - CALL...,NaN,"₹86,026",Only 1 left
16,https://www.flipkart.com/tvs-star-city-dual-to...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,TVS StaR city+ (Dual Tone Drum) Booking for Ex...,3.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",4 Ratings,&,1 Reviews,Maximum Power: 8.08 bhp @ 7350rpm,Displacement: 109.7 cc,Brake Front: Drum,Tire Type: Tubeless,"Console Feature: Speedometer, Analogue Odomete...",During 5 Years from the date of purchase or du...,"₹74,041",NaN
17,https://www.flipkart.com/hero-splendor-xtec-2-...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Splendor+ Xtec 2.0 Booking for Ex-Showroo...,4.6,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,721 Ratings",&,174 Reviews,Maximum Power: 5.9 KW (at 8000 rpm),Displacement: 97.2 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Full Digital Meter with Bluet...,Hero MotoCorp warrants all its motorcycles for...,"₹84,351",Only 8 left
18,https://www.flipkart.com/tvs-star-city-dual-to...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,TVS StaR city+ (Dual Tone Disc) Booking for Ex...,3.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",4 Ratings,&,1 Reviews,Maximum Power: 8.08 bhp @ 7350rpm,Displacement: 109.7 cc,Brake Front: Disc,Tire Type: Tubeless,"Console Feature: Speedometer, Analogue Odomete...",During 5 Years from the date of purchase or du...,"₹81,679",NaN
19,https://www.flipkart.com/tvs-xl100-booking-ex-...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,TVS XL100 Booking for Ex-Showroom Price,4.1,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",28 Ratings,&,4 Reviews,Displacement: 99.7 cc,Brake Front: Drum,Tire Type: Tubed,Console Feature: Analog,During 3 Years from the date of purchase or du...,NaN,"₹62,119",NaN
20,https://www.flipkart.com/hero-pleasure-xtec-sp...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Pleasure+ (XTEC Sports) Booking for Ex-Sh...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,699 Ratings",&,238 Reviews,Displacement: 110.9 cc,Brake Front: Drum,Tire Type: Tubeless,Under Seat Storage: 14 L,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹82,508","Buy ₹5000 more, save extra ₹1500"
21,https://www.flipkart.com/tvs-raider-igo-bookin...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,TVS Raider iGo Booking for Ex-Showroom Price,4.8,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",31 Ratings,&,4 Reviews,Maximum Power: 11.2 bhp (at 7500 rpm),Displacement: 124.8 cc,Brake Front: Disc,Tire Type: Tubeless,Console Feature: Reverse LCD,During 5 Years from the date of purchase or du...,"₹99,990","Buy ₹10000 more, save extra ₹1750"
22,https://www.flipkart.com/hero-pleasure-xtec-bo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Pleasure+ (XTEC) Booking for Ex-Showroom ...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,699 Ratings",&,238 Reviews,Displacement: 110.9 cc,Brake Front: Drum,Tire Type: Tubeless,Under Seat Storage: 14 L,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹80,783",NaN
23,https://www.flipkart.com/hero-xtreme-160r-4v-2...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Xtreme 160R 4V (2024) Booking for Ex-Show...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",60 Ratings,&,13 Reviews,Maximum Power: 16.9 PS (at 8500 RPM),Displacement: 163.2 cc,Brake Front: Disc,Tire Type: Tubeless,Console Feature: Inverted LCD Console,Hero MotoCorp warrants all its motorcycles for...,"₹1,38,500","Buy ₹5000 more, save extra ₹2500"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
a.head()

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,J+igdf 2,J+igdf 3,J+igdf 4,J+igdf 5,J+igdf 6,Nx9bqj,yiggsN
0,https://www.flipkart.com/hero-splendor-i3s-boo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Splendor+ (i3S) Booking for Ex-Showroom P...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,301 Ratings",&,529 Reviews,Maximum Power: 5.9 kW @ 8000 rpm,Displacement: 97.2 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Analogue speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹78,791",Only 5 left
1,https://www.flipkart.com/hero-passion-drum-boo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Passion+ (Drum) Booking for Ex-Showroom P...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","3,671 Ratings",&,394 Reviews,"Maximum Power: 5.9 kW @ 8,000 rpm",Displacement: 97.2 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Digi-Analog Meter,Hero MotoCorp warrants all its motorcycles for...,"₹80,266","Buy ₹5000 more, save extra ₹1750"
2,https://www.flipkart.com/hero-hf-deluxe-non-i3...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero HF Deluxe (Non i3S with Self Start) Booki...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,818 Ratings",&,603 Reviews,Maximum Power: 7.91,Displacement: 97.22 cc,Brake Front: Drum,Tire Type: Tubed,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹63,900",Lowest price in the year
3,https://www.flipkart.com/hero-destini-prime-bo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero DESTINI PRIME Booking for Ex-Showroom Price,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,729 Ratings",&,273 Reviews,Displacement: 124.6 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Digi Analog Speedometer,NaN,NaN,"₹76,077",Only few left
4,https://www.flipkart.com/hero-hf-deluxe-non-i3...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero HF Deluxe (Non i3S with Kick Start) Booki...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,818 Ratings",&,603 Reviews,Maximum Power: 7.91,Displacement: 97.22 cc,Brake Front: Drum,Tire Type: Tubed,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹60,643","Buy ₹5000 more, save extra ₹1500"

In [5]:
a.tail()

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,J+igdf 2,J+igdf 3,J+igdf 4,J+igdf 5,J+igdf 6,Nx9bqj,yiggsN
21,https://www.flipkart.com/tvs-raider-igo-bookin...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,TVS Raider iGo Booking for Ex-Showroom Price,4.8,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",31 Ratings,&,4 Reviews,Maximum Power: 11.2 bhp (at 7500 rpm),Displacement: 124.8 cc,Brake Front: Disc,Tire Type: Tubeless,Console Feature: Reverse LCD,During 5 Years from the date of purchase or du...,"₹99,990","Buy ₹10000 more, save extra ₹1750"
22,https://www.flipkart.com/hero-pleasure-xtec-bo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Pleasure+ (XTEC) Booking for Ex-Showroom ...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,699 Ratings",&,238 Reviews,Displacement: 110.9 cc,Brake Front: Drum,Tire Type: Tubeless,Under Seat Storage: 14 L,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹80,783",NaN
23,https://www.flipkart.com/hero-xtreme-160r-4v-2...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Xtreme 160R 4V (2024) Booking for Ex-Show...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",60 Ratings,&,13 Reviews,Maximum Power: 16.9 PS (at 8500 RPM),Displacement: 163.2 cc,Brake Front: Disc,Tire Type: Tubeless,Console Feature: Inverted LCD Console,Hero MotoCorp warrants all its motorcycles for...,"₹1,38,500","Buy ₹5000 more, save extra ₹2500"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
a.sample()

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,J+igdf 2,J+igdf 3,J+igdf 4,J+igdf 5,J+igdf 6,Nx9bqj,yiggsN
6,https://www.flipkart.com/hero-pleasure-lx-book...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Pleasure+ (LX) Booking for Ex-Showroom Price,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,699 Ratings",&,238 Reviews,Displacement: 110.9 cc,Brake Front: Drum,Tire Type: Tubeless,Under Seat Storage: 14 L,Console Feature: Analog Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹73,833","Buy ₹5000 more, save extra ₹1000"

In [7]:
a.describe()

          XQDdHH
count  23.000000
mean    4.378261
std     0.321865
min     3.500000
25%     4.400000
50%     4.500000
75%     4.500000
max     4.800000

In [8]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CGtC98 href  24 non-null     object
 1   DByuf4 src   24 non-null     object
 2   uu79Xy       24 non-null     object
 3   KzDlHZ       24 non-null     object
 4   XQDdHH       23 non-null     float64
 5   Rza2QY src   23 non-null     object
 6   Wphh3N       23 non-null     object
 7   hG7V+4       23 non-null     object
 8   Wphh3N 2     23 non-null     object
 9   J+igdf       24 non-null     object
 10  J+igdf 2     24 non-null     object
 11  J+igdf 3     24 non-null     object
 12  J+igdf 4     24 non-null     object
 13  J+igdf 5     23 non-null     object
 14  J+igdf 6     20 non-null     object
 15  Nx9bqj       24 non-null     object
 16  yiggsN       20 non-null     object
dtypes: float64(1), object(16)
memory usage: 3.6+ KB

In [9]:
a.loc[3:5]

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,J+igdf 2,J+igdf 3,J+igdf 4,J+igdf 5,J+igdf 6,Nx9bqj,yiggsN
3,https://www.flipkart.com/hero-destini-prime-bo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero DESTINI PRIME Booking for Ex-Showroom Price,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,729 Ratings",&,273 Reviews,Displacement: 124.6 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Digi Analog Speedometer,NaN,NaN,"₹76,077",Only few left
4,https://www.flipkart.com/hero-hf-deluxe-non-i3...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero HF Deluxe (Non i3S with Kick Start) Booki...,4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,818 Ratings",&,603 Reviews,Maximum Power: 7.91,Displacement: 97.22 cc,Brake Front: Drum,Tire Type: Tubed,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹60,643","Buy ₹5000 more, save extra ₹1500"
5,https://www.flipkart.com/hero-glamour-drum-boo...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,Hero Glamour (Drum) Booking for Ex-Showroom Price,4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,129 Ratings",&,138 Reviews,Maximum Power: 7.75 KW (at 7500 rpm),Displacement: 125 cc,Brake Front: Drum,Tire Type: Tubeless,Console Feature: Fully Digital Console,Hero MotoCorp warrants all its motorcycles for...,"₹82,848","Buy ₹5000 more, save extra ₹1000"

In [12]:
x=a.iloc[3:6,[0,3,13,14,15]]
x

,CGtC98 href,KzDlHZ,J+igdf 5,J+igdf 6,Nx9bqj
3,https://www.flipkart.com/hero-destini-prime-bo...,Hero DESTINI PRIME Booking for Ex-Showroom Price,NaN,NaN,"₹76,077"
4,https://www.flipkart.com/hero-hf-deluxe-non-i3...,Hero HF Deluxe (Non i3S with Kick Start) Booki...,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹60,643"
5,https://www.flipkart.com/hero-glamour-drum-boo...,Hero Glamour (Drum) Booking for Ex-Showroom Price,Console Feature: Fully Digital Console,Hero MotoCorp warrants all its motorcycles for...,"₹82,848"

In [15]:
x.to_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\flipkart_updated.csv",index=False)

In [18]:
data=pd.read_csv("Test//flipkart_updated.csv")
data

,CGtC98 href,KzDlHZ,J+igdf 5,J+igdf 6,Nx9bqj
0,https://www.flipkart.com/hero-destini-prime-bo...,Hero DESTINI PRIME Booking for Ex-Showroom Price,NaN,NaN,"₹76,077"
1,https://www.flipkart.com/hero-hf-deluxe-non-i3...,Hero HF Deluxe (Non i3S with Kick Start) Booki...,Console Feature: Speedometer,Hero MotoCorp warrants all its motorcycles for...,"₹60,643"
2,https://www.flipkart.com/hero-glamour-drum-boo...,Hero Glamour (Drum) Booking for Ex-Showroom Price,Console Feature: Fully Digital Console,Hero MotoCorp warrants all its motorcycles for...,"₹82,848"